*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
    color: rgb(43, 75, 236);
}
.box{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 45vw;
    border-radius: 5px;
    
}
label{
    font-size: small;
    letter-spacing: 1px;
    color: black;
}
input{
    width: 80%;
}
#btn{
    padding: 7px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color:rgb(43, 75, 236);
}
.relocate{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#radio{
    display: flex;
    align-self: flex-start;
    gap: 20px;

}
.choose{
    display: flex;
    flex-direction: column;
}